.user-container {

    .user-title {
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 500;

        .user-name {
            color: #FF0101;
        }
    }

    .user-subtile {
        font-size: 18px;
        font-weight: 400;
    }
}