.user-container {

    .user-title {
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 500;

        @media (max-width: 1280px) {
            margin-bottom: 22.5px;
            font-size: 36px;
        }

        .user-name {
            color: #FF0101;
        }
    }

    .user-subtile {
        font-size: 18px;
        font-weight: 400;

        @media (max-width: 1280px) {
            font-size: 16px;
        }
    }
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
    gap: 40px;
    width: 100%;

    @media (max-width: 1280px) {
        margin-top: 45px;
        gap: 30px;
    }
}

.graph-container {
    max-width: 835px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 33px;

    @media (max-width: 1280px) {
        max-width: 626.25px;
        gap: 24.75px;
    }

    .bottom-graphs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 100%;

        @media (max-width: 1280px) {
            gap: 22.5px;
        }
    }
}

.nutrition-cards-container {
    width: max-content; // s’ajuste au contenu
    display: flex;
    flex-direction: column;
}