.logo-header {
    width: 178px;
    height: 60.93px;
    margin: 20px 0px 10px 30px;

    @media (max-width: 1280px) {
        width: 133.5px;
        height: 45.7px;
    }
}

.nav-header {
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 88px;

    @media (max-width: 1280px) {
        margin-right: 66px;
    }

}


.nav-list {
    display: flex;
    justify-content: space-between;
    flex: 1;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 1280px) {
        font-size: 18px;
    }
}