.performance-radar-chart {
    background-color: #282D30;
    width: 258px;
    height: 263px;
    border-radius: 5px;

    @media (max-width: 1280px) {
        width: 193.5px;
        height: 197.25px;
    }
}