.side-nav {
    position: fixed;
    top: 90.93px;
    left: 0;
    width: 60px;
    height: calc(100vh - 90.93px);
    background-color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0 26px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .side-p {
        position: absolute;
        writing-mode: vertical-rl; // Affiche le texte verticalement
        transform: rotate(180deg);
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        color: white;
        bottom: 40px;
    }
}